*/Script.fsx
[Tt]estResults/*
packages/*
Build/*
!packages/repositories.config
testimpactdata.sdf

[Bb]in/
[Oo]bj/
stylecopviolations*.xml
UpgradeLog*.*
_UpgradeReport_Files/

# ReSharper is a .NET coding add-in
_ReSharper*
*.sln.DotSettings

*.suo
*.user
*.vsmdi
*.orig
*.mem

*.psess
*.vsp
.DS_Store

*.dbmdl
